# Nikhil Kumar
# 2018bcs0040

In [1]:
import pandas as pd

In [2]:
# creating Frequency Table
def freq_tables(data):
    table={}
    y=data.columns[-1]
    for i in data.columns[:-1]:
        table[i]=data.groupby([i,y]).size()
    table[y]=data[y].value_counts()
    return table

In [3]:
# function to get values of the frequency table
def get_value(table,a,b):
    try:
        return table[a][b]
    except:
        return 0

In [4]:
# Calculating Probability
def prob(newdata,table,classes,x,y,total):
    pred=[]
    for i in classes:
        res=table[y][i]/total
        for j in x:
            temp=get_value(table[j],newdata[j],i)
            res*=temp/table[y][i]
        pred.append(res)
    return pred

In [6]:
# reading Data
data=pd.read_csv('tennis_dataset.csv').astype(str)
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [7]:
# x and y are the column names
x=data.columns[:-1]
y=data.columns[-1]
total=len(data)

In [8]:
# creating Frequency Table
table=freq_tables(data)
table

{'day': day  play
 D1   No      1
 D10  Yes     1
 D11  Yes     1
 D12  Yes     1
 D13  Yes     1
 D14  No      1
 D2   No      1
 D3   Yes     1
 D4   Yes     1
 D5   Yes     1
 D6   No      1
 D7   Yes     1
 D8   No      1
 D9   Yes     1
 dtype: int64, 'humidity': humidity  play
 High      No      4
           Yes     3
 Normal    No      1
           Yes     6
 dtype: int64, 'outlook': outlook   play
 Overcast  Yes     4
 Rain      No      2
           Yes     3
 Sunny     No      3
           Yes     2
 dtype: int64, 'play': Yes    9
 No     5
 Name: play, dtype: int64, 'temp': temp  play
 Cool  No      1
       Yes     3
 Hot   No      2
       Yes     2
 Mild  No      2
       Yes     4
 dtype: int64, 'wind': wind    play
 Strong  No      3
         Yes     3
 Weak    No      2
         Yes     6
 dtype: int64}

In [9]:
# array of Classes
classes=data[y].unique()
classes

array(['No', 'Yes'], dtype=object)

In [10]:
# Inputting New Data to predict Class
newdata={}
for i in x:
    newdata[i]=input(f"Enter the value of {i}:")
newdata

Enter the value of day:2
Enter the value of outlook:1
Enter the value of temp:4
Enter the value of humidity:1
Enter the value of wind:6

{'day': '2', 'humidity': '1', 'outlook': '1', 'temp': '4', 'wind': '6'}

In [11]:
# Calculating Probability and predicting Class
pred=prob(newdata,table,classes,x,y,total)
print(f"Predicted Class: {classes[pred.index(max(pred))]}")

Predicted Class: No